<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Portal para crear juegos.</p>
	
	<a href="/quizes/question">Preguntas</a>
  </body>
</html>
